body {
  background-color: black;
  z-index: -1;
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;
  width: 100%;
  height:100%;
}
div#mainlayout{
  height:100%;
}
main{
  height:inherit;
}
div#react-root{
  height:100%
}
